@import "../../styles/color";
.card-item {
  background: $secondary-color;
  cursor: pointer;
  transition: all 0.3s;
  width: 200px;

  &:hover {
    transform: scale(1.1);
    transition: all 0.3s;
  }
}

.card-top {
  height: 300px;
}

.card-bottom {
  padding: 20px;
}
.card-info {
  color: $font-primary;
  padding: 0.3rem;
  h5,p {
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 10px;
  }
  span{
    color: gold;

  }

}