@import "../../styles/color";

.card-item {
  background: $secondary-color;
  cursor: pointer;
  transition: all 0.3s;
  width: 200px;

  &:hover {
    transform: scale(1.1);
    transition: all 0.3s;
  }
}

.card-top {
  height: 300px;
}

.card-bottom {
  padding: 20px;
}

.card-info {
  color: $font-primary;
  padding: 0.5rem;

  h5 {
    min-height: 2em;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 5px 0 8px;
  }
  p {
    font-size: 15px;
  }

  span {
    color: gold;
  }
}