@import '../../styles/color';

.header {
  background-color: $secondary-color;
  height: 72px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .theme-toggle {
    transform: translateY(-25%);
    cursor: pointer;
  }

  .logo {
    color: $font-primary;
    font-size: 20px;
    font-weight: 600;
  }

  .user-image {
    position: relative;
    left: -100px;
  }

  .user-image,
  .user-image img {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    column-gap: 30px;
  }

  a :hover {
    color: red;
  }

}

;
input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 35px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 20px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    transition: 0.3s;
  }
}

input:checked + label {
  background: #bada55;

  &:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
}

label:active:after {
  width: 10px;
}




