
.header {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}

.header:active {
    background-position: right center;

}

.header a {
    font-size: 30px;
    color: snow;
}

.header a[class='active'] {
    color: gold;
}

.outlet {
    width: 98%;
    margin: 0 auto;
    height: calc(100vh - 90px);
    overflow: hidden;
    overflow-y: auto;
}