*{
    margin: 0;
    padding: 0;
}
.users {
    display: flex;
    flex-direction: column;
    background: lightskyblue;
    width: 50%;

}
.comment{
    display: flex;
    flex-direction: column;
    width: 80%;
    background:mistyrose;
}
.posts{
    width: 50%;
    background: darkseagreen;
    display: flex;
    flex-direction: column;
}
.global{
display: flex;
flex-direction: column;


}