@import "../src/styles/color";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;

}

a {
  text-decoration: none;
}

body {
  background: $primary-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.container {
  margin: 0 40px;


}
:root {
  --background: white;
  --background-secondary: #e7e7e7;
  --text-primary: black;
  --text-secondary: white;
  --accent: purple;
}
[data-theme='dark'] {
  --background: black;
  --background-secondary: #212121;
  --text-primary: white;
  --text-secondary: black;
  --accent: darkred;
}

.theme-toggle i {
  font-size: 2rem;
  cursor: pointer;
}

