@import "../../styles/color";


.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 40px;
  margin-top: 20px;
}
.btn{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
span{
  color: $font-primary;
  cursor:pointer;
}