@import "../../styles/color";


.movie-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
  justify-content: center;
}

.btn {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.btn span {
  //color: $font-primary;
  cursor: pointer;
  border: 0.1875em solid;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;

}

button {
  background: $primary-color;
  color: $font-primary;
  padding: 5px 60px;
  border: 1px solid;
  //border-color: $font-primary;
  cursor: pointer;
  font-size: large;
  transition: all ease 0.3s;
}

button:hover {
  background: $font-primary;
  color: $font-secondary;
  box-shadow: 0 0 8px #79b8f3,
  0 0 8px #79b8f3,
  0 0 8px #79b8f3;
}

.Genres {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  min-height: 100px;
  gap: 20px;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: center;
}

.genre-item {
  border: solid 1px;
  height: fit-content;
  padding: 0.6rem;
  cursor: pointer;
  display: inline-block;
  width: fit-content;

  &:hover {
    background: $font-primary;
    color: $font-secondary;
  }

  //&.active {
  //  background: $font-secondary;
  //  color: $font-primary; не работает нет обработчика
  //}
}


